## Libraries, backup, images
*.so
*.pyc
*.png
*.bak
*#
*~
.Rhistory

## Data
*.hdf
*.pkl
.DS_Store
*.out
*.root

## Folders we don't need
modules/backup

## Random other files
conversioncommand
*.tar.gz
tmp

## CMake stuff
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
