## Libraries, backup, images
*.so
*.pyc
*.txt
*.png
*.bak
*#
*~

## Data
*.hdf
*.pkl
.DS_Store
*.out

## Folders we don't need
modules/backup

## Random other files
conversioncommand
*.tar.gz
tmp

## CMake stuff
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile