## Libraries, backup, images
*.so
*.dylib
*.pyc
*.bak
*#
*~
.Rhistory

## Data
*.hdf
*.pkl
.DS_Store
*.out
*.root
*.mid*
runs
*.log

## Folders we don't need
modules/backup
notes

## Random other files
conversioncommand
*.tar.gz
tmp
test.dat
Will.dat
qlong_engespec.txt
*_backup*
EngeSpec\ for\ Mac\ Users.pdf

## CMake stuff
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
/spectra/testing
/modules/SpectrumCanvas-V.py
test

## User sort routines
/lib/CMakeUserLists.txt
## Ignore all and then add back the ones to keep
/lib/*.cpp
/lib/*.h
!/lib/EngeSort.cpp
!/lib/EngeSort.h
!/lib/LenaSort.cpp
!/lib/LenaSort.h
!/lib/EngeAnalyzerlib.cpp
!/lib/EngeAnalyzerlib.h
!/lib/mdpp_module_config.cpp
!/lib/mdpp_module_config.h
!/lib/MDPPEventHandler.cpp
!/lib/MDPPEventHandler.h
!/lib/toml.hpp
